div.error {
    text-align: center;
    border: 1px solid black;
    margin: 2rem;
    padding: 0.5rem;
    background-color: red;
}

div.success {
    text-align: center;
    border: 1px solid black;
    margin: 2rem;
    padding: 0.5rem;
    background-color: green;
}