<div class="row">
    <form [formGroup]="group" (ngSubmit)="onSave()">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Basic Login Information</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div>
                    <mat-form-field>
                        <mat-label>Username</mat-label>
                        <input type="email" matInput formControlName="username" required>
                    </mat-form-field>
                    <div *ngIf="username.invalid && (username.dirty || username.touched)">
                        <div *ngIf="username.errors.required">
                            Username is required
                        </div>
                        <div *ngIf="username.errors.email">
                            Username must be of email format
                        </div>
                        <div *ngIf="username.errors.usernameExists">
                            Username already taken. Choose a different one
                        </div>
                    </div>
                </div>
                <div>
                    <mat-form-field>
                        <mat-label>Password</mat-label>
                        <input matInput formControlName="password" type="password" minlength="6" maxlength="10" required>
                    </mat-form-field>
                    <div *ngIf="password.invalid && (password.dirty || password.touched)">
                        <div *ngIf="password.errors.required">
                            Password is required
                        </div>
                        <div *ngIf="password.errors.minlength">
                            Password must be minimum 6 characters
                        </div>
                        <div *ngIf="password.errors.maxlength">
                            Password must be maximum 10 characters
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card formGroupName="address">
            <mat-card-header>
                <mat-card-title>Address Information</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div>
                    <mat-form-field>
                        <mat-label>Country</mat-label>
                        <mat-select formControlName="country">
                            <mat-option value="IN">India</mat-option>
                            <mat-option value="AU">Australia</mat-option>
                            <mat-option value="USA">United states of america</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <mat-label>State</mat-label>
                        <input matInput formControlName="state">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <mat-label>Pincode</mat-label>
                        <input matInput formControlName="zipCode">
                    </mat-form-field>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card formGroupName="contacts">
            <mat-card-header>
                <mat-card-title>Contact Information</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div *ngFor="let contact of contacts.controls; let i = index">
                    <mat-form-field>
                        <mat-label>Enter contact no {{i + 1}}</mat-label>
                        <input matInput [formControlName]="i">
                    </mat-form-field>
                    <a (click)="onDeleteContact(i); $event.preventDefault()" href="#">Delete</a>
                </div>
                <button type="button" (click)="onAddContact()" mat-raised-button color="accent">Add a contact</button>
            </mat-card-content>
        </mat-card>
        <button [disabled]="!group.valid" mat-raised-button color="primary">Save</button>
    </form>
</div>
